img {
	max-width: 20%;
	padding-left: 40%;
	padding-right: 40%;
    border-radius: 50%;

    }

h1 {
	color: blue;
	  text-align: center;
}

.formula {
	color: green;
	  text-align: center;
}

.text {
	  text-align: center;

}

.text2 {

	color: purple;
}

body {
	background: lightgray;
}